
body{
    background-color: #282C34;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: #20232A;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    padding: 0 20px;
}

.logo{
    display: flex; 
    align-items: center;
}
.logo-img{
    height: 35px;
}
.logo > h2{
    margin-left: 5px;
    color: #5CCEED;
    font-size: 30px;
    font-weight: 400;
}

.Main{
    padding: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Main > h1{
    margin: 0;
    /* font-size: 40px; */
}
.mainList > li{
    font-weight: 200;
    margin-top: 10px;
}

.mainList > li::marker{
    font-size: 1.4rem;
    color: #5CCEED;
}

.footer{
    padding: 10px;
    font-weight: 200;
}
